<!doctype html>
<html>
<head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
<div class="h-screen w-screen flex">
    <div class="h-screen w-2/12 bg-gray-400">
        <div class="pt-4">
            <img id="topnav-image" src="{{url_for("static", filename='kanban-logo.svg') }}"/>
        </div>

        <h2 class="pl-8 pt-4 pb-4 font-semibold">
            ISSUES
        </h2>

        <div class="mt-2 ml-8 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>

        <div class="mt-2 ml-8 pr-2 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>

        <div class="mt-2 ml-8 pr-2 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>

        <div class="mt-2 ml-8 pr-2 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>

        <h2 class="pl-8 mt-6 font-semibold">
            TAGS
        </h2>
        <div class="mt-2 ml-8 pr-2 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>

        <div class="mt-2 ml-8 pr-2 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>

        <div class="mt-2 ml-8 pr-2 mr-4 bg-gray-200 rounded">
            <a href="#">
                <span class="pl-2">All</span>
                <span class="pl-12">36</span>
            </a>
        </div>
    </div>
    <div class="flex-1 w-screen border-2 h-24">
        <p>Hello</p>
    </div>
</div>
</body>
</html>