<!doctype html>
<html>
  <head>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <body>
      <div class="h-screen w-2/12 bg-gray-400"  >
         <div class="pt-4">
             <img id="topnav-image" src="{{url_for("static", filename='kanban-logo.svg') }}"/>
         </div>

         <h2 class="px-12 pt-4 pb-4 font-semibold">
             ISSUES
         </h2>

         <div class="mt-2 pl-12 bg-gray-200">
            <a href="#">
                <span>All</span>
                <span>36</span>
            </a>
         </div>

         <div class="mt-2 pl-12">
            <a href="#">
                <span>All</span>
                <span>36</span>
            </a>
         </div>

         <div class="mt-2 pl-12">
            <a href="#">
                <span>All</span>
                <span>36</span>
            </a>
         </div>
            
      </div>

  </body>
</html>